/*Постоянные клиенты*/
.client {
  background-color: $text-hero;
}
.client__container {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}
.client__idea {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 30px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: $font;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $text-h;
}
.client__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  &--item {
    box-sizing: border-box;
    margin-bottom: 30px;
    border: 1px solid $icon;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }
  &--link {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 208px;
    height: 92px;
    justify-content: center;
    align-items: center;
    color: $icon;
    @include transition(color);
    @include transition(border);
  }
  &--link:focus {
    color: $text-focus;
    border: 1px solid $text-focus;
  }
  &--link:hover {
    color: $text-focus;
    border: 1px solid $text-focus;
  }
}
.client__icon {
  fill: currentColor;
}
@media (min-width: 480px) {
  .client__container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .client__container {
    width: 768px;
  }
  .client__list--link {
    width: 226px;
    height: 92px;
  }
}
