/*FOOTER*/
.footer {
  background: $background-hero-footer;
}
.footer__container {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.footer__logo--first {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  font-family: $font-l;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $text-focus;
}
.footer__logo {
  color: $text-hero;
}
.footer__ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.location {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-family: $font;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text-hero;
  @include transition(color);
  &:hover {
    color: $text-focus;
  }
  &:focus {
    color: $text-focus;
  }
}
.contacts {
  display: block;
  margin-top: 9px;
  font-family: $font;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text-adress;
  @include transition(color);
  &:hover {
    color: $text-focus;
  }
  &:focus {
    color: $text-focus;
  }
}
.footer__comein {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__wellcome {
  margin-block-start: 0px;
  margin-block-end: 20px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-family: $font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $text-hero;
}
.footer__list {
  display: flex;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  &--item {
    display: flex;
  }
  &--item:not(:last-child) {
    margin-right: 10px;
  }
}
.footer__link {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 60px;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $footer-icon-background;
  color: $text-hero;
  @include transition(background-color);
  &:hover {
    background-color: $text-focus;
  }
  &:focus {
    background-color: $text-focus;
  }
}
.footer__icon {
  fill: currentColor;
}
.footer__join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__join--head {
  margin-block-start: 0em;
  margin-block-end: 20px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: $font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $text-hero;
}
.footer__form {
  width: 100%;
}
.footer__input {
  display: inline-flex;
  width: 100%;
}
.footer__mail {
  display: inline-flex;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-left: 16px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $background-hero-footer;
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: $text-adress;
  &::placeholder {
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: $text-adress;
  }
}
.footer__button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  width: 200px;
  height: 50px;
  background-color: $text-focus;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  color: $text-hero;
  &--name {
    font-family: $font;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $text-hero;
  }
  &--icon {
    margin-left: 10px;
    height: 24px;
    fill: currentColor;
  }
}
@media (min-width: 480px) {
  .footer__container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .footer__container {
    width: 768px;
    padding-left: 76px;
    padding-right: 89px;
  }
  .footer__mail {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__logo--first {
    margin-left: 0px;
  }
  .tablet__container {
    display: inline-flex;
  }
  .footer__comein {
    margin-left: 165px;
  }
  .footer__box {
    height: 127px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: flex-start;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer__logo--first {
    margin-left: 0;
    margin-right: 86px;
    font-size: 26px;
  }
  .footer__ul {
    align-items: flex-start;
    margin-bottom: 0;
  }
  .footer__comein {
    align-items: flex-start;
    margin-left: 0;
    margin-left: 70px;
  }
  .footer__box {
    display: flex;
    flex-direction: column;

    margin-bottom: 0;
  }
  .footer__wellcome {
    margin-top: 12px;
  }
  .footer__form {
    display: flex;
    justify-content: space-between;
    width: 570px;
  }
  .footer__input {
    width: 358px;
    margin-right: 12px;
  }
  .footer__join {
    align-items: flex-start;
  }
  .footer__join--head {
    margin-top: 12px;
  }
}
