/*HEADER*/
.header {
  position: sticky;
  z-index: 2;
  top: -1px;
  border-bottom: 1px solid #ececec;
  background-color: $text-hero;
}
.header__container {
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  &--first {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $text-focus;
  }
  &--second {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $text-h;
  }
}
@media (min-width: 480px) {
  .header__container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .header__container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .header__container {
    width: 1200px;
  }
}
@media (max-width: 767px) {
  .header__list {
    display: none;
  }
  .header__contacts {
    display: none;
  }
}
/*Мобильное меню*/
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $text-hero;
  z-index: 999;
  transform: translateX(200%);
  transition: transform $animation-dur ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle {
  background-color: $text-hero;
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  @include transition(color);
  &:hover {
    color: $text-focus;
    background-color: $text-hero;
    box-shadow: none;
    cursor: pointer;
  }
  &:focus {
    color: $text-focus;
    background-color: $text-hero;
    box-shadow: none;
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.js-close-menu {
  display: block;
  margin-inline-start: auto;
}
.mobile {
  &__icon {
    display: block;
    margin: 10.5px;
    fill: currentColor;
  }
  &__list {
    display: block;
    margin-inline-end: auto;
    margin-block-end: 302px;
    &--item:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &__link {
    font-family: $font;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    color: $text-h;
    @include transition(color);
    &:hover {
      color: $text-focus;
      cursor: pointer;
    }
    &:focus {
      color: $text-focus;
      cursor: pointer;
    }
  }
  &__contacts {
    display: block;
    margin-bottom: 64px;
  }
}
.phone {
  display: block;
  margin-bottom: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $text-focus;
}
.mail {
  display: block;
  margin-bottom: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: $text-p;
}
.now {
  color: $text-focus;
}
.mobile {
  &__social {
    display: flex;
    &--item:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__href {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $text-focus;
  }
}
.column {
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
