$text-h: #212121;
$text-p: #757575;
$text-focus: #2196f3;
$text-hero: #ffffff;
$background-hero-footer: #2f303a;
$background-team: #f5f4fa;
$text-adress: rgba(255, 255, 255, 0.6);
$footer-icon-background: rgba(255, 255, 255, 0.1);
$background-button: #f5f4fa;
$icon: #afb1b8;
$backdrop-filter: rgba(0, 0, 0, 0.2);
$button-close: #000000;
$background-overlay: rgba(33, 150, 243, 0.9);
$background-activity: rgba(47, 48, 58, 0.8);
$animation-dur: 250ms;
$animation-type: linear;
$font: Roboto;
$font-l: Raleway;
